setuptools>=68.0.0
wheel>=0.41.0
build>=1.2.1
flask==2.3.3
flask-cors==4.0.0
gunicorn==21.2.0
sentence-transformers==2.2.2
torch==2.0.1 --index-url https://download.pytorch.org/whl/cpu
torchvision==0.15.2 --index-url https://download.pytorch.org/whl/cpu
numpy>=1.26.0
transformers==4.21.3
tokenizers==0.13.3
huggingface-hub==0.16.4
